@media screen and (min-width: 480px) and (max-width: 800px){
    input {
        background-color: red;
    }

    h3 {
        font-family: "Britannic Bold";
    }
}

@media screen and (min-width: 700px) and (max-width: 800px){
    input {
        background-color: green;
    }

    h3 {
        font-family: "Courier New";
    }
}